#flex-container {
	display: flex;
}

#team {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

#team_name {
	font-size: 36pt;
}

#runner {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#runner_index {
	font-size: 20pt;
}

#runner_name {
	font-size: 20pt;
}

#main_center {
	padding-left: 5pt;
	text-align: center;
	display: block;
}

#total_score_title {
	padding-top: 15pt;
	font-size: 24pt;
}

#total_score_value {
	font-size: 84pt;
	background-color: whitesmoke;
}

#best_score {
	padding-top: 12pt;
	font-size: 30pt;
	display: flex;
	justify-content: center;
}

#new_record {
	font-weight: bold;
	font-size: 24pt;
	color: blue;
}

#total_time {
	padding-left: 100pt;
	padding-top: 30pt;
	font-size: 24pt;
	display: flex;
}

#main_right {
	padding-left: 20pt;
	width: 60%;
	display: block;
}

#section1_option {
	display: flex;
	padding-bottom: 5pt;
	align-items: center;
}

#section2_option {
	display: flex;
	padding-bottom: 5pt;
	align-items: center;
}

#section3_option {
	display: flex;
	padding-bottom: 5pt;
	align-items: center;
}


#section1_cone {
	padding-top: 15pt;
}

#section1_cone_title {
	font-size: 18pt;
	font-weight: bold;
}

.section1_cone_main {
	display: flex;
	justify-content: center;
	font-size: 16pt;
}

#cone_touch_value {
	padding-left: 10pt;
	padding-right: 10pt;
}

#cone_over_value {
	padding-left: 10pt;
	padding-right: 10pt;
}

#batonpass1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#stop1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#section2_act {
	padding-top: 15pt;
}

#section2_act_title {
	font-size: 18pt;
	font-weight: bold;
}

#response_music_value {
	padding-left: 10pt;
	padding-right: 10pt;
}

#response_light_value {
	padding-left: 10pt;
	padding-right: 10pt;
}

#batonpass2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#stop2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#section3_speed {
	padding-top: 15pt;
}

#section3_speed_title {
	font-size: 18pt;
	font-weight: bold;
}

#stop3 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#bonus_episode {
	padding-left: 100pt;
	padding-top: 30pt;
	font-size: 24pt;
}

#bonus_title {
	padding-left: 100pt;
	padding-top: 30pt;
	font-size: 24pt;
}


.section {
	padding-left: 100pt;
	font-size: 20pt;
}

#page_title {
	margin: 10px 15px;
	font-size: 20px;
	/* 文字サイズ指定 */
	color: rgb(115, 167, 209);
	/* 文字色指定 */
}

/*ボーナス関係の設定*/
#bonus_title {
	font-size: 30px;
}

.bonus {
	display: table;
	width: 100%;
	background: #FFF;
}

.bonus__item {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
}

.bonus__item+.bonus__item {
	border-left: 1px solid #CCC;
}

.bonus__item a {
	font-weight: bold;
	display: block;
	padding: 15px 0;
	color: #666;
	text-decoration: none;
	font-size: 20px;
}

/*ボタン関係の設定*/
button.button4 {
	font-size: 1em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #248;
	color: #fff;
	border-style: none;
}

button.button4:hover {
	background-color: #24d;
	color: #fff;
}

.cp_tab *,
.cp_tab *:before,
.cp_tab *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cp_tab {
	margin: 1em auto;
}

.cp_tab>input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

.cp_tab .cp_tabpanel {
	display: none;
}

.cp_tab>input:first-child:checked~.cp_tabpanels>.cp_tabpanel:first-child,
.cp_tab>input:nth-child(3):checked~.cp_tabpanels>.cp_tabpanel:nth-child(2),
.cp_tab>input:nth-child(5):checked~.cp_tabpanels>.cp_tabpanel:nth-child(3),
.cp_tab>input:nth-child(7):checked~.cp_tabpanels>.cp_tabpanel:nth-child(4),
.cp_tab>input:nth-child(9):checked~.cp_tabpanels>.cp_tabpanel:nth-child(5),
.cp_tab>input:nth-child(11):checked~.cp_tabpanels>.cp_tabpanel:nth-child(6) {
	display: block;
}

.cp_tab>label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}

.cp_tab>label:hover,
.cp_tab>input:focus+label {
	color: #0066cc;
}

.cp_tab>input:checked+label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;
	/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}

.cp_tab .cp_tabpanel {
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}

@media (max-width: 480px) {
	.cp_tab {
		width: 100%;
		font-size: 0.8em;
	}

	.cp_tab label {
		padding: 0.5em;
	}
}
